/*******************************************************
 *Fuentes MADAMIA
 *******************************************************/
@import url('madamiaFont.css');

/*******************************************************
 *Menu MADAMIA
 *******************************************************/
/* Root = Horizontal, Secondary = Vertical */
ul#menu {
  	margin: 0;
	border: 0 none;
	padding: 0;
	/*  width: 500px;*/ /*For KHTML*/
    width:1024px;
	list-style: none;
	height: 35px;
	border:0px solid #eee;
	padding-bottom:1px;
	background-image:url(../img/Home/Fondo-Menu-Superior.png);
	border-left: 0;
	border-top: 0;
}

ul#menu li {
  margin: 0;
  border: 0 none;
  padding: 0;
  float: left; /*For Gecko*/
  display: inline;
  list-style: none;
  position: relative;
  height: 35px;
}
ul#menu li{
	padding-bottom:0px;
}
ul#menu li:hover{
	background:;
}

ul#menu  ul {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: 185px;
  list-style: none;
  display: none;
  position: absolute;
  z-index:1;
  top: 35px;
  left: 20px;
  background: #8E1550;
  border: none;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter:alpha(opacity=50);
}

ul#menu ul:after /*From IE 7 lack of compliance*/{
  clear: both;
  display: block;
  font: 0px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
}

ul#menu ul li {
  width: 185px;
  float: left; /*For IE 7 lack of compliance*/
  display: block !important;
  display: inline; /*For IE*/
}

/* Root Menu */
ul#menu a {
  padding: 4px 14px 3px;/*10px 7px 3px 7px;*/
  float: none !important; /*For Opera*/
  float: left; /*For IE*/
  display: block;
  color: #A94E7B;
  font-family	:Segoe Bold;
  font-size	:16px;
  border-right:2px solid #8E1550;
  text-decoration: none;
  height: auto !important;
  height: 1%; /*For IE*/
}

/* Root Menu Hover Persistence */
ul#menu a:hover,
ul#menu li:hover a,
ul#menu li.iehover a {
	color		: #8E1550;
	font-family	: Segoe Bold;
    font-size	: 16px;
}

/* 2nd Menu */
ul#menu li:hover li a,
ul#menu li.iehover li a {
  float: none;
  background: #8E1550 ;/*#666*/
  border:none;
  color: #FFF;
  font-family:Segoe UI Ligth;
}

/* 2nd Menu Hover Persistence */
ul#menu li:hover li a:hover,
ul#menu li:hover li:hover a,
ul#menu li.iehover li a:hover,
ul#menu li.iehover li.iehover a {
	background:#A94E7B;
	color: #FFF;
}

/* 3rd Menu */
ul#menu li:hover li:hover li a,
ul#menu li.iehover li.iehover li a {
  background: #8E1550;
  float: none;
  border:none;
  color: #FFF;
}

/* 3rd Menu Hover Persistence */

ul#menu li:hover li:hover li a:hover,
ul#menu li:hover li:hover li:hover a,
ul#menu li.iehover li.iehover li a:hover,
ul#menu li.iehover li.iehover li.iehover a {
background:#8E1550;
  color: #FFF;
}

/* 4th Menu */
ul#menu li:hover li:hover li:hover li a,
ul#menu li.iehover li.iehover li.iehover li a {
background:#ddd;
  color: #666;
}

/* 4th Menu Hover */
ul#menu li:hover li:hover li:hover li a:hover,
ul#menu li.iehover li.iehover li.iehover li a:hover {
  background: #CCC;
  color: #FFF;
}

ul#menu ul ul,
ul#menu ul ul ul {
  display: none;
  position: absolute;
  top: 0;
  left: 185px;
}

/* Do Not Move - Must Come Before display:block for Gecko */
ul#menu li:hover ul ul,
ul#menu li:hover ul ul ul,
ul#menu li.iehover ul ul,
ul#menu li.iehover ul ul ul {
  display: none;
}

ul#menu li:hover ul,
ul#menu ul li:hover ul,
ul#menu ul ul li:hover ul,
ul#menu li.iehover ul,
ul#menu ul li.iehover ul,
ul#menu ul ul li.iehover ul {
  display: block;
}
ul#menu .selected{
	color: #003300;
}
