/*******************************************************
 *Fuentes MADAMIA
 *******************************************************/
@import url('madamiaFont.css');



/*******************************************************
 * Estilos Generales MADAMIA
 *******************************************************/
 
body{
	padding:0;
	margin:0;
}

h3{
	color:#FFF;
	padding: 1px 35px 0px;
	font-size:18px;
	font-family:Verdana, Geneva, sans-serif;
}

h4{
	color:#000;
	padding: 1px 85px 5px;
	font-size:14px;
	font-family:Verdana, Geneva, sans-serif;
}

h5{
	color:#000;
	padding: 1px 35px 0px;
	font-size:14px;
	font-family:Verdana, Geneva, sans-serif;
}

/*
select{
	font-family: Georgia;
	font-size: 16px;
	color: #f6f6f6;
	background-color:#00C1E1;
	border: 0 none;
	padding: 5px;
}

option{ background-color: #00C1E1}
*/

select {font-family: Segoe UI; 
		font-size: 14px; 
		color: #f6f6f6; 
		background-color: transparent; 
		border: 0 none; 
		padding: 1px; 
		width: 168px; 
		height: 25px;
		-webkit-appearance: none;
		overflow:hidden;
    	width: 120%;
		} 

.contenedor-select { width: 168px; 
					height: 25px; 
					overflow: hidden; 
					background: url(../img/LightBoxProductos/Fondo-Calculador-de-precios.png) no-repeat right center #999999;
					position: absolute;
					top: 47px;
					left: 10px; 
}

.contenedor-valor{
	font-family: Segoe UI; 
	font-size: 18px;
	position: absolute;
	width: 100px;
	height:25px;
	top: 47px;
	left: 190px;
	
}

.fondoLigthBox{
	margin: 0;
	border: 0 none;
	padding: 0;
	background-image:url(../img/General/FondoContactenos.png);
	width:975px;
	height: 680px;
	float:none;
	top: 0px;
}

.fondoPuntosVenta{
	margin: 0;
	border: 0 none;
	padding: 0;
	background-image:url(../img/LightBoxPuntosVenta/FondoPuntosVenta.png);
	width:975px;
	height: 680px;
	float:none;
	top: 0px;
}

.fondoTituloLigthBox{
	margin: 0;
	border: 0 none;
	padding: 0;
	background-image:url(../img/General/FondoTituloColorMadamia.png);
	width:384px;
	height: 44px;
	float:none;
	top: 0px;
}

.textoTitulo{
	color:#FFF;
	padding: 8px 30px 5px 25px;
	font-size:18px;
	font-family:Segoe;
	
	}



/******************************** HOME **************************************/
.fondoPrincipal{
	margin: 0;
	border: 0 none;
	padding: 0;
	background-image:url(../img/Home/FondoDobleHuecoBanner.png);
	width:1024px;
	height: 666px;
	float:none;
	top: 0px;
}

.fondoNinia{
	margin: 0;
	border: 0 none;
	padding: 0;
	background-image:url(../img/Home/Ninia.png);
	width:1022px;
	height: 628px;
	float:none;
	top: 0px;
}

.fondoPie{
	margin: 0;
	border: 0 none;
	background-image:url(../img/Home/FondoLaterales.png);
	width: 100%;
	height: 100%;	
}

.contenidoPie{
	padding: 10px 15px 15px 15px;
}

.textoPie{
	padding: 3px 3px 3px 3px;
	font-size:14px;
	font-family:Segoe UI;
	text-align: center;
	color:#FFF;
}

.logoMadamia{
	margin: 0;
	border: 0 none;
	padding: 0;
	background-image:url(../img/Home/LogoMadamia.png);
	background-repeat: no-repeat;
	width:315px;
	height: 88px;
	position: absolute;
	top  	: 65px;
	left	: 15px
}

.marcoAzul{
	margin: 0;
	border: 0 none;
	padding: 0;
	background-image:url(../img/Home/MarcoAzul.png);
	width:290px;
	height: 300px;
	float:none;
	top: 0px;
}
  
 .slide-out-registrese{
		width: 214px;
		height:311px;
		background: ;
		border: none;
		opacity: 0.9;
		-moz-opacity: 0.9;
		filter:alpha(opacity=90);
		background-image: url(../img/Home/Fondo_click_de_Productos_Institucionales_Especiales.png);
		z-index: 10;
		
    }

 .flecha{
		width: 24px;
		height:24px;
		border: none;
		opacity: 0.9;
		background:url(../img/LightBoxContactenos/Flecha-de-Multiseleccion.png) no-repeat;
		float	: left;
		
    }
#contenedorFlecha{
	margin:0 auto;
	padding:0;
	width:160px;
	text-align:center;
	height:auto;
	background:transparent;
}
.formRegistrese{
	color:#000;
	padding: 10px 10px 10px 10px;
	font-size:16px;
	font-family:Segoe UI;
	z-index: 10;
}

.capaRedesSociales{
	position: absolute;
	width: 180px;
	height:40px;
	top: 580px;
	left: 60px;
	padding: 15px;
	z-index: 1;
	}
	
.capaBuscador{
	position: absolute;
	width: 120px;
	height:20px;
	top: 615px;
	left: 760px;
	padding: 10px;
	z-index: 1;
	}

.capaLogo{
	position: absolute;
	width	: 370px;
	height	: 157px;
	top		: 155px;
	left	: 610px;
	z-index	: 0;
	background-image: url(../img/Home/SloganSolo.png);
	}

.botonIngreso {
	background: url(../img/Home/ingresoBoton.png) no-repeat;
    width: 27px;
    height: 21px;
	border-color:transparent
    }
	

input.txtRegistro{
	background:url(../img/Home/registroCampo.png) no-repeat;
	width: 120px;
	height: 20px;
	padding: 2px;
	border: none;
	}

.capaTituloNovedades{
	margin	: 0;
	border	: 0 none;
	position: absolute;
	top		: 290px;
	left	: 720px;
	width 	: 341px;
	height	: 112px;	
}
	
	
/****************************** HOME PRODUCTOS ***********************************/
	
.capaTreeProductos{
	position: absolute;
	width	: 213px;
	height	: 310px;
	top		: 33px;
	left	: 810px;
	z-index	: 0;
	background-image: url(../img/Home/Fondo_click_de_Productos_Institucionales_Especiales.png);
	}
	
.treeProductos{
	padding: 15px 15px 5px;/*10px 7px 3px 7px;*/	
	}
	
input.txtIngreso{
	background: url(../img/Home/ingresoCampo.png) no-repeat;
	width: 95px;
	height: 12px;
	padding: 3px;
	border: none;
	}
/******************************** PRODUCTOS **************************************/

.textoDescripcion{
	/*         		a    d   a     i  */
	padding		: 20px 25px 20px 25px;
	font-size	: 12px;
	font-family	: Segoe UI;
	text-align	: justify;
	color		: #8E1550;
}

.textoDescripcionProducto{
	/*         	  a   d   i   c  */
	padding		: 0px 5px 5px 10px;
	font-size	: 11px;
	font-family	: Segoe UI;
	text-align	: justify;
	color		: #8E1550;
	width		: 235px;
	height		: 55px;
}
.fondoProductos{
	margin: 0;
	border: 0 none;
	padding: 0;
	background-image:url(../img/LightBoxProductos/FondoProductos2.png);
	width:970px;
	height: 440px;
	float:none;
	top: 0px;
}

.fondoCarrete{
	margin: 0;
	border: 0 none;
	padding: 0;
	background-image:url(../img/LightBoxProductos/FondoCarrete.png);
	width:970px;
	height: 212px;
	float:none;
	top: 0px;
}

.fondoTituloTortas{
	margin: 0;
	border: 0 none;
	padding: 0;
	background-image:url(../img/LightBoxProductos/FondoTituloTortas.png);
	width:284px;
	height: 45px;
	float:none;
	top: 0px;
}

.capaTextoProductos{
	position: absolute;
	width: 261px;
	height:88px;
	top: 330px;
	left: 252px;
	z-index: 1;
	background-image: url(../img/LightBoxProductos/FondoContenido.png);
	text-align: center;
}

.capaSeccionProductos{
	position: absolute;
	width: 200px;
	height:200px;
	top: 140px;
	left: 30px;
	z-index: 1;
}

.capaImagenSeccionProductos{
	position: absolute;
	width: 150px;
	height:150px;
	top: 0px;
	left: 760px;
	z-index: 1;
}
/******************************** MADAMIA **************************************/
.capaTextoMadamia{
	position: absolute;
	width: 353px;
	height:494px;
	top: 110px;
	left: 562px;
	z-index: 1;
	background-image: url(../img/LightBoxMadamia/Marco-Contenidos.png);
}

.capaTituloMadamia{
	position	: absolute;
	width		: 353px;
	height		: 54px;
	top			: 70px;
	left		: 562px;
	text-align	: right;
	vertical-align:bottom;
	z-index		: 1;
}

.textoTituloMadamia{
	color       : #8E1550;
	font-size   : 24px;
	font-family : Segoe;	
}

.textoTituloMision{
	color       : #4FA5D5;
	font-size   : 24px;
	font-family : Segoe;
}

.textoTituloVision{
	color       : #F02A89;
	font-size   : 24px;
	font-family : Segoe;
}
	
	
.capaNavegacionMadamia{
	position: absolute;
	width: 180px;
	height:40px;
	top: 580px;
	left: 60px;
	padding: 15px;
	z-index: 1;
	}
	
.madamia_nav {
    }


.madamia_nav .head-nav { 
    border-bottom: 0px solid #cfcec9;
    border-top: 0px solid #cfcec9;
    margin-top: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: right;
    }

.madamia_nav ul li{
    display: inline;
    }
	


/******************************** TRABAJE CON NOSOTROS ***********************************/

.textoformulario{
	color		: #8E1550;
	padding		: 15px 15px 15px 20px;
	font-size	: 16px;
	font-family : Segoe UI;
	
	}
input.txtFechas{
		background: url(../img/LightBoxTrabajeNosotros/CampoFechaNacto.png) no-repeat;
		width: 35px;
		height: 10px;
		padding: 10px;
		border: none;
		float:left;
		}
		
/******************************** CONTACTENOS **************************************/
	
input.txtContactenos{
		background: url(../img/LightBoxContactenos/Campo-Amplio-general.png) no-repeat;
		width: 170px;
		height: 10px;
		padding: 10px;
		border: none;
		}
	

input.txtFecha{
		background:url(../img/LightBoxContactenos/Campo-fecha-de-cumple.png) no-repeat;
		width: 18px;
		height: 20px;
		padding: 2px;
		border: none;
		}

textarea{ 
		background:url(../img/LightBoxContactenos/Espacio-pa-el-mensaje.png) no-repeat;
		width: 444px;
		height: 440px;
		padding: 12px;
		border: none;
            }
.botonContactenos {
	background: url(../img/LightBoxContactenos/Enviar.png) no-repeat;
    width: 145px;
    height: 40px;
	border-color:transparent
    }

/**************************** PUNTOS VENTA *********************************/
 .capaMarcoPuntoVenta{
	 margin: 0; 
	 border: 0 none; 
	 padding: 0; 
	 background-image:url(../img/LightBoxPuntosVenta/Marrco-Display-Puntos-de-Venat.png);	 
	 width:509px; 
	 height: 481px; 
	 float:none; 
	 top: 0px;
 }
 
  .capaFondoMapa{
	margin: 0;
	border: 0 none;
	padding: 12px 2px 2px 12px;
	background-image:url(../img/LightBoxPuntosVenta/Fondo-para-Google-Maps.png);
	width:454px;
	height: 204px;
	float:none;
	top: 0px;
	text-align: center;
	vertical-align: middle;
 }

.capaCarrucelPV{
	margin: 0;
	border: 0 none;
	width:760px;
	height:120px;
	float:right;
 }
 
 .capaMapa{
	margin: 0;
	border: 0 none;
	padding: 0;
	width:440px;
	height: 195px;
	float:none;
	top: 0px;
 }
 
.capaTituloMapa{
	color:#B21F68;
	font-size:15px;
	font-family:Segoe UI;
	margin: 0;
	border: 0 none;
	padding: 80px 0px 0px 15px;
	width:300px;
	height: 80px;
	float:none;
	top: 0px;
 }
/* --------------------------------------------------------------
 *  Redes sociales
 * -------------------------------------------------------------- */


.social_nav {
    }


.social_nav .head-nav { 
    border-bottom: 5px solid #cfcec9;
    border-top: 1px solid #cfcec9;
    margin-top: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: right;
    }

.social_nav ul li{
    display: inline;
    }

/************************************************
* CAPTIFY CAPTION CARRUSEL
************************************************/
.caption-top, .caption-bottom {
     background: #000000;
     color: #ffffff;
     cursor:default;
     padding:2px;
     font-size:11px;
     text-align:center;
}
 
.caption-top {
     border-width:0px;
}
 
.caption-bottom {
     border-width:0px;
}
 
.caption a, .caption a {
     background:#000;
     border:none;
     text-decoration:none;
     padding:2px;
}
 
.caption a:hover, .caption a:hover {
     background:#202020;
}
