/*******************************************************
 *Fuentes MADAMIA
 *******************************************************/
@import url('madamiaFont.css');


/* --------------------------------------------------------------
 * Style - nombre Header
 * -------------------------------------------------------------- */


.tituloAdmin{
	    text-decoration: none;
        color: #A94E7B;
        background: #FFF;
        display: block;
        padding: 3px 10px;
        border-bottom: 2px solid #A94E7B;
        border-top: 2px solid #A94E7B;
		font-family:Arial, Helvetica, sans-serif;
		font-size:20px;
		font-weight: bold;
		width: 250px;
		height:25px;
	}
		
.tablaAdmin{
	    text-decoration: none;
        color: #A94E7B;
        background: #FFF;
        display: block;
        padding: 3px 10px;
        border-top: 2px solid #A94E7B;
	}

.tablaContain{
	background-color:#DAB0C8; 
	color:#7C1147;
	font-family: Arial, Helvetica, sans-serif;
}

.capaFormulario{
	color		: #B21F68;
	font-size	: 16px;
	font-family	: Verdana, Geneva, sans-serif;
	width		: 300px;
	height		: 300px;
	float		: left;
	/*position: absolute;
	top: 120px;
	left: 470px;*/
 }
 
 .capaTabla{
	width	: 480px;
	height	: 300px;
	float	: left;
	/*position: absolute;
	top: 120px;
	left: 0px;*/
 }
 
 /********************************************************************
 /* FORMULARIOS ADMINISTRADOR
 /********************************************************************/
 
 input { 	
		border: 2px solid #A94E7B; 
		margin-bottom: .5em;
		border-radius: 5px; 
		width: 150px;
		height: 25px; }

 input.error { 
		border: 2px solid red;
		border-radius: 5px;
		width: 150px;
		height: 25px;  }

 input.fecha { 
		border: 2px solid #A94E7B;
		border-radius: 5px;
		width: 50px;
		height: 25px;  }

 input.fecha.error { 
		border: 2px solid red;
		border-radius: 5px;
		width: 50px;
		height: 25px;  }
		

 label {
		font-size:16px;
		font-family:Segoe UI;
		color: #A94E7B }
		
 label.error {
	 	font-size:16px;
		font-family:Segoe UI;
		padding-left: 16px;
		margin-left: .3em;
        color: red; }

label.valid {
	display: block;
	width: 16px;
	height: 16px;
}

#contenedor{
margin:0 auto;/*para centrarlo el contenedor debe poseer este margen*/
padding:0;
width:700px;/*si queremos que salga 4 veces la imagen con separación de margenes a la derecha de 10px y  incluyendo bordes de 2px, quedando todo junto hacia el centro hacemos esto:
-->Multiplicamos el width=ancho x 4 del espacio 1 =   144 x 4 = 576px  +
-->Multiplicamos el margin=margen x 4 del espacio 1 =  10 x 4 =  40px
-->Sumamos el border=borde derecho y isquierdo del
espacio 1 y luego lo multiplicamos x 4 =            (2 + 2) 4 =  16px
                                                                ------
-->Y nos dar como el total el width que nesecitamos -----------> 632px

NOTA: si ponemos el width:auto del contenedor, todo se ira hacia el margen izquierdo. */
text-align:center;
height:auto;/*aqui puedes poner una altura deseada teniedo en cuenta que tiene que ser mayor o igual al de la imagen, y si tiene bordes la imagen se le suma a la altura, igual si el 
div->espacio 1 tuviera bordes se lo sumarias a la altura=height,  y cuando hablo que le sumarias el borde seria el borde de arriba + el borde de abajo ahi que tenerlo en cuenta, por recomendación usar height=auto */
background:transparent;
}
 

/* --------------------------------------------------------------
 * Style - Administrador General
 * -------------------------------------------------------------- */
 
body {
	font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 10px 0px 10px 0px;
	text-align: left;
	background-color: #FFF;
}

label{
    font-size: 12px;
    font-family: Arial;
}


input {
    font-size: 12px;
    font-family: Arial;
}

textarea{
    width: 90%
}

.Frmframe{
    border: none;
    overflow:hidden;
}



/*Fin Botones con Formato*/

legend{
    font-weight: bold;
    font-family: Arial;
}

#contenedor{
	text-align: left;
	width: 1200px;
	margin: auto;
}
#cabecera{
	background: transparent url(../img/Home/LogoMadamia.png) no-repeat 0 0;
	color: #FFF;
	font-size:12pt;
	font-weight: bold;
	padding: 3px 3px 3px 10px;
	height: 88px;
}
#cuerpo{
	margin: 10px 0px 10px 0px;
}
#lateral{
	width: 200px;
	background-color: #999999;
	float:left;
}

#principal{
	margin-left: 205px;
	background-color: #ffffff;
	padding: 4px;
}
#pie{
	background-color: #cccccc;
	padding: 10px 10px 10px 10px;
	text-align:right;
}




/*Notificaciones*/

error{
    color:#FF0000;
}

.notification {
	display: block;
	padding: 20px 20px 20px 45px;
	border: 1px solid;
	margin-bottom: 20px;
	background-repeat: no-repeat;
	background-position: 20px 20px;
	}

.n-success {
	background-color: #a3e6bd;
	border-color: #68d59b;
	background-image: url(../../resources/img/BackEnd/notification-tick.gif);
	}

.n-information {
	background-color: #9fddea;
	border-color: #5fceea;
	background-image: url(../../resources/img/BackEnd/notification-information.gif);
	}

.n-attention {
	background-color: #f9e497;
	border-color: #ffcb4f;
	background-image: url(../../resources/img/BackEnd/notification-exclamation.gif);
	}

.n-error {
	background-color: #ffc6ca;
	border-color: #efb9c3;
	background-image: url(../../resources/img/BackEnd/notification-slash.gif);
	}

/*Fin de notificaciones*/

/*Modulos */

div.module {
	background: url(../../resources/img/BackEnd/module-body-left-bg.gif) no-repeat scroll bottom left;
	float: left;
	width: 100%;
	margin-bottom: 20px;
	}

div.module div.module-body {
	background: url(../../resources/img/BackEnd/module-body-right-bg.gif) no-repeat scroll bottom right;
	padding: 20px 3% 20px 3%; float: left; width: 94%;
	}

/* Percentage padding in the module dependant on the cell width */
.grid_1 div.module div.module-body  { padding: 20px 8% 20px 8%; float: left; width: 84%; }
.grid_2 div.module div.module-body  { padding: 20px 7% 20px 7%; float: left; width: 86%; }
.grid_3 div.module div.module-body  { padding: 20px 6% 20px 6%; float: left; width: 88%; }
.grid_4 div.module div.module-body  { padding: 20px 5% 20px 5%; float: left; width: 90%; }
.grid_5 div.module div.module-body  { padding: 20px 4% 20px 4%; float: left; width: 92%; }
.grid_6 div.module div.module-body  { padding: 20px 3% 20px 3%; float: left; width: 94%; }
.grid_7 div.module div.module-body  { padding: 20px 2.75% 20px  2.75%; float: left; width: 94.5%; }
.grid_8 div.module div.module-body  { padding: 20px 2.5% 20px 2.5%; float: left; width: 95%; }
.grid_9 div.module div.module-body  { padding: 20px 2.25% 20px 2.25%; float: left; width: 95.5%; }
.grid_10 div.module div.module-body { padding: 20px 2% 20px 2%; float: left; width: 96%; }
.grid_11 div.module div.module-body { padding: 20px 1.75% 20px 1.75%; float: left; width: 96.5%; }
.grid_12 div.module div.module-body { padding: 20px 1.5% 20px 1.5%; float: left; width: 97%; }



div.module div.module-table-body {
	background: url(../../resources/img/BackEnd/module-body-right-bg.gif) no-repeat scroll bottom right;
	padding: 0;
	float: left;
	width: 100%;
	}

div.module h2 {
    /* Sliding right image */
    background: url(../../resources/img/BackEnd/module-header-left-bg.gif) no-repeat scroll top left;
	display: block;
	float: left;
	height: 32px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */
	margin-right: 0px;
	padding-right: 0px; /* CHENGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH */
	/* FONT PROPERTIES */
	text-decoration: none;
	color: #444444;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	width: 100%;
	margin-bottom: 0;
	letter-spacing: normal
	}

div.module h2 span {
	/* Background left image */
	background: url(../../resources/img/BackEnd/module-header-right-bg.gif) no-repeat top right;
	display: block;
	line-height: 20px; /* CHANGE THIS VALUE ACCORDING TO BUTTONG HEIGHT */
	padding: 7px 0 5px 18px;

	}

div.module table {
	width: 100%;
	margin: 0 0 10px 0;
	border-left: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	}

div.module table.tr {
	border-collapse: separate;
	border-right: 1px solid #aaaaaa;
	border-left: 1px solid #aaaaaa;
	}

div.module table th {
	background-color: #eeeeee;
	color: #444444;
	padding: 5px;
	text-align: left;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	}

div.module table td {
	background-color: #ffffff;
	padding: 5px;;
	border-right: 1px solid #d9d9d9;
	}

div.module table tr.odd td { /* You can use this style if you want to do zebra-colored tables with other technique than Table Sorter script used here */
	background-color: #f1f5fa;
	}

.table-apply {
	width: 40%; float: right; text-align: right; margin-right: 10px;
	}


/*Fin Modulos*/

/* tablas para grilla*/
table.tablesorter {
	/*font-family:arial;
	/*background-color: #CDCDCD;*/
	/*margin:10px 0pt 15px;*/
	font-size: 11px;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #fff;
	font-size: 11px;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../../resources/imgBackEnd//bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#f1f5fa;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../../resources/img/BackEnd/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(.../../resources/img/BackEnd/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #dddddd;
}

/* FIN tablas para grilla*/

.pager {
	display: block; padding: 0px 0px 0px 20px;  width: 40%; float: left;
	}

.pager .first,
.pager .prev,
.pager .next,
.pager .last {
	margin-bottom: -2px;
	}


/* Botones Link*/

.btnGuardar {
    background:url(../../resources/img/BackEnd/AddButton.png) no-repeat top left scroll #ffffff;
    padding:5px 10px 10px 30px;
    color:#2175bc;
    font-weight: bold;
    font-size: 15px;
    /*border: 1px solid #2175bc;*/
    text-decoration: none;
    cursor:pointer;
}


.btnInfo {
    background:url(../../resources/img/BackEnd/MainInfoButton.png) no-repeat top left scroll #ffffff;
    padding:5px 10px 10px 30px;
    color:#2175bc;
    font-weight: bold;
    font-size: 15px;
    /*border: 1px solid #2175bc;*/
    text-decoration: none;
    cursor:pointer;
}

.btnAplicar {
    background:url(../../resources/img/BackEnd/ApplyButton.png) no-repeat top left scroll;
    padding:5px 10px 10px 30px;
    color:#2175bc;
    font-weight: bold;
    font-size: 15px;
    /*border: 1px solid #2175bc;*/
    text-decoration: none;
    cursor:pointer;
}


.bGuardar2 {
    background:url(../../resources/img/BackEnd/SavetoSourceButton.png) no-repeat top left scroll #ffffff;
	border:0px;
    padding:5px 10px 10px 30px;
    color:#2175bc;
    font-weight: bold;
    font-size: 15px;
    /*border: 1px solid #2175bc;*/
    text-decoration: none;
    cursor:pointer;
}

.btnEli {
    background:url(../img/BackEnd/gnome_edit_delete.png) no-repeat top left scroll ;
    padding:5px 10px 10px 30px;
    border:0px;
    font-weight: bold;
    font-size: 15px;
    /*border: 1px solid #2175bc;*/
    text-decoration: none;
    cursor:pointer;
}


/**** Estilos Botones *****/

.BtnConsultar {
    background:url(../../resources/img/BackEnd/guardar.png) no-repeat top left scroll #ffffff;
    padding:5px 10px 10px 30px;
    border:0px;
    font-weight: bold;
    font-size: 15px;
	border-collapse:0;
    /*border: 1px solid #2175bc;*/
    text-decoration: none;
    cursor:pointer;
}

.BtnCancelar {
    background:url(../img/BackEnd/DeleteButton.png) no-repeat top left scroll #ffffff;
    padding:5px 10px 10px 30px;
    border:0px;
    font-weight: bold;
    font-size: 15px;
	border-collapse:0;
    /*border: 1px solid #2175bc;*/
    text-decoration: none;
    cursor:pointer;
}

.BtnGuardar {
    background:url(../img/Administrador/Generales/Boton-de-procesar.png) no-repeat top left scroll ;
    padding:5px 10px 10px 30px;
    border:0px;
    font-weight: bold;
    font-size: 15px;
	border-collapse:0;
    /*border: 1px solid #2175bc;*/
    text-decoration: none;
    cursor:pointer;
	width: 170px;
	height:50px;
}

.BtnEliminar {
    background:url(../img/Administrador/Generales/Boton-de-Borrar.png)no-repeat top left scroll ;
    padding:10px 10px 20px 40px;
    border:0px;
    font-weight: bold;
    font-size: 15px;
    /*border: 1px solid #2175bc;*/
    text-decoration: none;
    cursor:pointer;
}


.BtnModificar {
    background:url(../img/Administrador/Generales/Boton-de-editar.png) no-repeat top left scroll ;
    padding:10px 10px 20px 40px;
    border:0px;
    font-weight: bold;
    font-size: 15px;
    /*border: 1px solid #2175bc;*/
    text-decoration: none;
    cursor:pointer;
}

.BtnAgregar {
    background:url(../img/Administrador/Generales/Boton-de-nuevo.png) no-repeat top left scroll ;
    padding:10px 10px 20px 40px;
    border:0px;
    font-weight: bold;
    font-size: 15px;
    /*border: 1px solid #2175bc;*/
    text-decoration: none;
    cursor:pointer;
	
}

.BtnAddImage {
    background:url(../img/Administrador/Generales/Boton_photo_add.png)no-repeat top left scroll ;
    padding:10px 10px 20px 40px;
    border:0px;
    font-weight: bold;
    font-size: 15px;
    /*border: 1px solid #2175bc;*/
    text-decoration: none;
    cursor:pointer;
	
}
