/************************************************************
 * BANNER PRINCIPAL
 *************************************************************/
 
#container_ninios {
	position: absolute;
	width	: 640px;
	height	: 500px;
	top		: 163px;
	left	: 230px;
	margin	: 0 auto;
	z-index	: 0;
	
}


/************************************************************
 * BANNER NOVEDADES
 *************************************************************/

#container_novedades {
	width	: 300px;
	height	: 250px;
	position: absolute;
	top		: 370px;
	left	: 770px;
	z-index	: -1;
}


/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/
#slides_novedades .slides_container {
	width	: 300px;
	height	: 250px;
	display : none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

#slides_novedades .slides_container div {
	width	: 300px;
	height	: 250px;
	display	:block;
}


/************************************************************
 * BANNER PRODUCTOS
 *************************************************************/
 
 #container_productos{
	width	: 300px;
	height	: 250px;
	position: absolute;
	top		: 180px;
	left	: 0px;
	z-index	: -1;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/
#slides_productos .slides_container {
	width	: 300px;
	height	: 250px;
	display : none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

#slides_productos .slides_container div {
	width	: 300px;
	height	: 250px;
	display	: block;
}


/************************************************************
 * PUNTOS VENTA
 *************************************************************/
 
 #container_puntos_venta{
	width	: 475px;
	height	: 475px;
	position: absolute;
	top		: 45px;
	left	: 500px;
	z-index	: -1;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/
#slides_puntos_venta .slides_container {
	width	: 475px;
	height	: 475px;
	display : none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

#slides_puntos_venta .slides_container div {
	width	: 475px;
	height	: 475px;
	display	: block;
}

/************************************************************
 * MADAMIA
 *************************************************************/
 
 #container_madamia{
	width	: 535px;
	height	: 535px;
	position: absolute;
	top		: 75px;
	left	: 0px;
	z-index	: -1;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/
#slides_madamia .slides_container {
	width	: 535px;
	height	: 535px;
	display : none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

#slides_madamia .slides_container div {
	width	: 535px;
	height	: 535px;
	display	: block;
}

/************************************************************
 * I N S T I T U C I O N A L E S
 *************************************************************/
 
 #container_institucionales{
	width	: 465px;
	height  : 595px;
	position: absolute;
	top		: 101px;
	left	: 321px;
	z-index	: 1;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/
#slides_institucionales .slides_container {
	width	: 465px; 
	height  : 595px;
	display : none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

#slides_institucionales .slides_container div {
	width	: 465px; 
	height  : 595px;
	display	: block;
}

/************************************************************
 * I N S T I T U C I O N A L E S   C O N T A I N 
 *************************************************************/
 
 #container_institucionalesContain{
	width	: 465px;
	height  : 570px;
	position: absolute;
	top		: 103px;
	left	: 0px;
	z-index	: 1;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/
#slides_institucionalesContain .slides_container {
	width	: 465px; 
	height  : 570px;
	display : none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

#slides_institucionalesContain .slides_container div {
	width	: 465px; 
	height  : 570px;
	display	: block;
}


/************************************************************
 * PRODUCTOS
 *************************************************************/
 
#container_carousel_productos {
	position: absolute;
	width	: 590px;
	height	: 425px;
	top		: 0px;
	left	: 373px;
	margin	: 0 auto;
	z-index	: 0;
	vertical-align:baseline;
	text-align:left;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	If height not specified height will be set by the slide content
	Set to display none, prevents content flash
*/

#slides_carousel_productos .slides_container {
	width	  : 590px;
	height	  : 425px;
	overflow  : hidden;
	position  : relative;
	display   : none;
	text-align: center;
}

/*
	Each slide
	Important:
	Set the width of your slides
	Offeset for the 20px of padding
	If height not specified height will be set by the slide content
	Set to display block
*/

#slides_carousel_productos .slides_container div {
	display: block;
	position: relative;
	width	  : 590px;
	height	  : 425px; 
}

.imgPro{
	position: absolute;
	top: 50%;
	left: 50;
	margin-top: -50px;
	margin-left: -50px;
}

#frame {
	position:absolute;
	z-index:0;
	height	: 425px;
	top:-3px;
	left:-80px;
}

#example {
	height	: 420px;
	position:relative;
}

/*
	Slideshow style
*/

#slides_carousel_productos {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}



/*
	Next/prev buttons
*/
#slides_carousel_productos .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides_carousel_productos .next {
	left:485px;
}

/*
	Pagination
*/

.pagination {
	margin:26px auto 0;
	width:50px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/General/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

/*
	Footer
*/

#footer {
	text-align:center;
	width:480px;
	margin-top:9px;
	padding:4.5px 0 18px;
	border-top:1px solid #dfdfdf;
}

#footer p {
	margin:4.5px 0;
	font-size:1.0em;
}

/*
	Type and anchors
*/

a:link,a:visited {
	color:#599100;
	text-decoration:none;
}

a:hover,a:active {
	color:#599100;
	text-decoration:underline;
}

h1 {
	font-size:2em;
}

p {
	font-size:1.3em;
}

#slides_carousel_productos .link {
	display:block;
	margin-top:10px;
	font-weight:800;
}

/************/

  /************************/
    
    .mianimacion1
    {
        -webkit-animation:mymove1 30s; 
        animation:mymove1 30s;
    }

    @-webkit-keyframes mymove1 
    {
    0%   {width:100%; height: 100%; opacity: 50%}
    100% {width:300%; height: 300%; top: -90%; left: -40%; opacity: 0%}
    }
    @keyframes mymove1{
    0%   {width:100%; height: 100%; top: 0%; left: 0%;}
    100% {width:300%; height: 300%; top: -90%; left: -40%}
    }

    
    .mianimacion2
    {
        -webkit-animation:mymove2 30s; 
        animation:mymove2 30s;
    }

    @-webkit-keyframes mymove2 
    {
    0%   {width:100%; height: 100%; opacity: 50% }
    100% {width:300%; height: 300%; top: -50%; opacity: 0%}
    }
    @keyframes mymove2{
     0%   {width:100%; height: 100%;}
    100% {width:300%; height: 300%; top: -50%}
    }

    .mianimacion3
    {
        -webkit-animation:mymove3 30s;
        animation:mymove3 30s;
    }
 
    @-webkit-keyframes mymove3 
    {
    0%   {width:100%; height: 100%; }
    100% {width:300%; height: 300%; top: -20%; left: -30%; }
    }
    @keyframes mymove3{
    0%   {width:100%; height: 100%; }
    100% {width:300%; height: 300%; top: -20%; left: -30%; }
    }
    
    .mianimacion4
    {
        -webkit-animation:mymove4 30s;
        animation:mymove4 30s;
    }

    @-webkit-keyframes mymove4 
    {
    0%   {width:100%; height: 100%; }
    100% {width:300%; height: 300%; top: -50%; left: -30%; }
    }
    @keyframes mymove4{
    0%   {width:100%; height: 100%; }
    100% {width:300%; height: 300%; top: -50%; left: -30%; }
    }
    
    .mianimacion5
    {
        -webkit-animation:mymove5 30s;
        animation:mymove5 30s;
    }
 
    @-webkit-keyframes mymove5 
    {
    0%   {width:100%; height: 100%; }
    100% {width:200%; height: 200%; top: -20%; left: -40%; }
    }
    @keyframes mymove5{
    0%   {width:100%; height: 100%; }
    100% {width:200%; height: 200%; top: -20%; left: -40%; }
    }
